<header class="navbar navbar-fixed-top navbar-inverse">
<div id="tdr_title">
		<div id="tdr_title_content">
			<div id="tdr_title_ucsd_title"><a href="http://www.ucsd.edu/">UC San Diego</a></div>
			<div id="tdr_title_page_title"><a href="http://libraries.ucsd.edu/index.html">The Library</a></div>
		</div><!-- /tdr_title_content -->
	</div><!-- /tdr_title -->
    <!--noscript>Your browser doesn't support Javascript.  You can either view our <a href="/digital/m/">mobile site</a>, or use a Javascript-enabled browser to view the main Digital Library Collections site.</noscript-->

	<div id="tdr_nav">
         <div id="tdr_nav_content">
             <ul id="tdr_nav_list">
                 <li><a href="http://libraries.ucsd.edu/index.html">Home</a></li>
                 <li><a href="http://libraries.ucsd.edu/locations/index.html">Libraries</a>
                     <ul>
                         <li><a href="http://libraries.ucsd.edu/locations/arts/index.html">Arts Library</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/bml/index.html">Biomedical &amp; Medical Center Libraries</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/clics/index.html">CLICS:  Center for Library &amp; Instructional Computing Services</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/irps/index.html">International Relations / Pacific Studies Library</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/mscl/index.html">Mandeville Special Collections Library</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/se/index.html">Science &amp; Engineering Library</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/sio/index.html">Scripps Institution of Oceanography Library</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/sshl/index.html">Social Sciences &amp; Humanities Library</a></li>
                     </ul>
                 </li>
                 <li><a href="http://libraries.ucsd.edu/hours">Hours</a>
                 </li>
                 <li><a href="http://libraries.ucsd.edu/tools/index.html">Research Tools</a>
                     <ul>
                         <li><a href="http://libraries.ucsd.edu/tools/articles.html">Find Articles</a></li>
                         <li><a href="http://libraries.ucsd.edu/tools/books.html">Find Books</a></li>
                         <li><a href="http://libguides.ucsd.edu/">Course &amp; Subject Guides</a></li>
                         <li><a href="http://libraries.ucsd.edu/sage/hierarchy?list=true">Subjects A-Z</a></li>
                         <li><a href="http://libraries.ucsd.edu/sage/custom?&amp;attribute_o==&amp;attribute_v=DBPAGES&amp;value_o==&amp;value_v=AZ&amp;pagetype=AtoZ&amp;title=Databases%20A-Z&amp;nav=SageNav&amp;showTrial=on">Databases A-Z</a></li>
                     </ul>
                 </li>
                 <li><a href="http://libraries.ucsd.edu/collections/index.html">Collections</a>
                     <ul>
                         <li><a href="http://libraries.ucsd.edu/collections/east-asia/index.html">East Asia Collection</a></li>
                         <li><a href="http://libraries.ucsd.edu/collections/featured-library-collections/index.html">Featured Library Collections</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/mscl/index.html">Special Collections</a></li>
                         <li><a href="http://libraries.ucsd.edu/collections/about/digital-library-collections.html">Digital Collections</a></li>
                         <li><a href="http://libraries.ucsd.edu/collections/about/index.html">About the Collections</a></li>
                         <li><a href="http://libraries.ucsd.edu/collections/help-build-our-collections/recommend-a-purchase.html">Recommend a Purchase</a></li>
                     </ul>
                 </li>
                 <li><a href="http://libraries.ucsd.edu/services/index.html">Services</a>
                     <ul>
                         <li><a href="http://libraries.ucsd.edu/services/borrowing/index.html">Borrowing</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/requesting/index.html">Requesting Books &amp; Articles</a></li>
                         <li><a href="http://libraries.ucsd.edu/studyrooms">Reserve a Study Room</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/instruction/index.html">Instruction</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/computing/remote-access/index.html">Off-Campus Access</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/computing/index.html">Computers in the Library</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/computing/index.html#wireless">Library Wi-Fi</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/printing-copying/index.html">Printing &amp; Copying</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/services-for-persons-with-disabilities.html">Services for Persons with Disabilities</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/community/index.html">Services to the Community</a></li>
                     </ul>
                 </li>
                 <li><a href="http://libraries.ucsd.edu/resources/course-reserves/index.html">Reserves</a>
                     <ul>
                         <li><a href="http://reserves.ucsd.edu/eres/courseindex.aspx">Get Your Course Reserves</a></li>
                         <li><a href="http://libraries.ucsd.edu/resources/course-reserves/submit-a-course-reserve.html">Put Materials on Course Reserve</a></li>
                         <li><a href="http://libraries.ucsd.edu/resources/course-reserves/course-reserves-from-off-campus.html">Off-Campus Access</a></li>
                     </ul>
                 </li>
                 <li><a href="http://roger.ucsd.edu/">Catalogs</a>
                     <ul>
                         <li><a href="http://roger.ucsd.edu/">Search UCSD</a></li>
                         <li><a href="http://circuit.sdsu.edu/">Search San Diego</a></li>
                         <li><a href="http://ucsd.worldcat.org/?scope=1&amp;oldscope=0">Search All UCs</a></li>
                         <li><a href="http://melvyl.worldcat.org/">Search Worldwide</a></li>
                     </ul>
                 </li>
                 <li><a href="http://roger.ucsd.edu/patroninfo">My Library Account</a></li>
                 <li><a href="http://libraries.ucsd.edu/help/ask-a-librarian/index.html">Ask a Librarian</a>
                     <ul>
                         <li><a href="http://www.questionpoint.org/crs/servlet/org.oclc.home.TFSRedirect?virtcategory=10800">Ask by Chat</a></li>
                         <li><a href="http://libraries.ucsd.edu/help/ask-a-librarian/email-a-librarian.html">Ask by Email</a></li>
                         <li><a href="http://libraries.ucsd.edu/help/ask-a-librarian/visit-or-call-a-librarian.html">Ask by Phone</a></li>
                         <li><a href="http://libraries.ucsd.edu/help/ask-a-librarian/text.html">Ask by Text</a></li>                         
                     </ul>
                 </li>
                 <li><a href="http://libraries.ucsd.edu/help/index.html">Help</a>
                     <ul>
                         <li><a href="http://libraries.ucsd.edu/help/ask-a-librarian/index.html">Ask a Librarian</a></li>
                         <li><a href="http://libraries.ucsd.edu/help/new-users.html">For&#160;New&#160;Library&#160;Users</a></li>
                         <li><a href="http://libguides.ucsd.edu/getstarted">Get Started!</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/computing/remote-access/index.html">Off-Campus Access</a></li>
                         <li><a href="http://libraries.ucsd.edu/contacts/index.html">Staff Contacts</a></li>
                         <li><a href="http://libraries.ucsd.edu/locations/sshl/resources/other-resources/where-can-i-find.html">Where Can I Find...</a></li>
                         <li><a href="http://libraries.ucsd.edu/services/computing/index.html#wireless">Wireless Help</a></li>
                     </ul>
                 </li>
             </ul>
         </div><!-- /tdr_nav_content -->
     </div><!-- /tdr_nav -->
	 <div id="tdr_search">
         <div id="tdr_search_content">
             <form action="http://www-act.ucsd.edu/cwp/tools/search-redir" method="get">
                 <fieldset>
                     <legend>Site Search</legend>
                     <label for="search-scope">Search</label>
                     <select id="search-scope" name="search-scope">
                         <option id="this-site" selected="selected" value="cascade-lib">This Site</option>
                         <option id="search-ucsd" value="default_collection">All UCSD Sites</option>
                         <option id="search-people" value="faculty-staff">Faculty/Staff</option>
                         <option id="search-people" value="students">Students</option>
                     </select>
                     <input name="search-term" size="20" type="text"/>
                     <button type="submit">Search!</button>
                 </fieldset>
             </form>
         </div><!-- /tdr_search_content -->
     </div><!-- /tdr_search -->
</header>